body {
    margin: 0px;
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: 'Lucida Sans Unicode';
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 0px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, black, rgb(36, 36, 36, 0));
}
.page {
    margin: 15px;
}
.menu {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.option {
    float: left;
    padding: 15px 50px 15px 50px;
    background-color: black;
    color: white;
    border: none;
}
.option:hover {
    background-color: rgb(104, 104, 104);
    cursor: pointer;
    color: white;
}
.active {
    background-color: rgb(190, 157, 9);
    /*color: rgb(9, 64, 90);*/
    color: white;
}
.footer {
    position: absolute;
    bottom: 15px;
    right: 30px;
    left: 30px;
    text-align: center;
}
#logo {
    width: 125px;
}
.header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('images/hexagon1.jpg');
    overflow: hidden;
    text-align: center;
    padding: 30px;
    font-size: 60pt;
    
}
.title {
    display: inline;
    vertical-align: middle;
    overflow: hidden;
    color: white;
}
