body {
    margin: 0px;
    background-color: white;
    color: rgb(9, 64, 90);
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.menu {
    text-align: center;
    background-color: rgb(9, 64, 90);
    color: white;
}
.option {
    display: inline-block;
    padding: 15px 50px 15px 50px;
    background-color: rgb(9, 64, 90);
    color: white;
    border: none;
}
.option:hover {
    background-color: rgb(160, 131, 1);
    cursor: pointer;
    color: white;
}
.active {
    background-color: rgb(144, 190, 211);
    color: rgb(9, 64, 90);
}
.border {
    border-top: 3px dashed yellow;
}