body {
    margin: 0px;
    background-color: black;
    color: white;
    font-family: 'Gudea', sans-serif;
}
h2 {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, black, rgb(36, 36, 36, 0));
    font-family: 'Euphoria Script', cursive;
    font-size: 36pt; 
}
.page {
    /*margin: 15px 60px 60px 60px;*/
    margin: 15px 250px 15px 250px;
    font-size: 12pt;
}
.page img {
    border: 8px white double;
}
.menu {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.option {
    float: left;
    padding: 15px 50px 15px 50px;
    background-color: black;
    color: white;
    border: none;
    font-size: 12pt;
}
.option:hover {
    background-color: rgb(104, 104, 104);
    cursor: pointer;
    color: white;
}
.active {
    background-color: rgb(190, 157, 9);
    color: white;
}
.footer {
    margin-bottom: 15px;
    text-align: center;
}
#logo {
    width: 125px;
}
.header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('images/RIDAhex.png');
    background-size: 100%;
    overflow: hidden;
    text-align: center;
    padding: 30px;
    font-size: 72pt;
    
}
.title {
    display: inline;
    vertical-align: middle;
    overflow: hidden;
    color: white;
}
h3 {
    text-align: center;
    font-size: 14pt;
}
#name {
    text-decoration: underline;
    text-align: center;
}
#about {
    /*margin: 15px 250px 15px 250px;*/
    text-align: justify;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .menu {
        background-color: rgb(44, 44, 44);
    }
    .option {
      width: 100%;
      background-color: rgb(44, 44, 44);
    }
    .active {
        background-color: rgb(190, 157, 9);
    }
    .page img {
        max-width: 95%;
        height: auto;
    }
    .page {
        margin-left: 4%;
        margin-right: 4%;
    }
}